body{
  background-color:teal;
}
.menu
{
    position: fixed;
    top: 0px;
    width: 100%; 
    height: 60px; 
    background-color: rgba(0,0,0,1.0);
    z-index: 100;
}

.navbar-brand{
  font-size:20px;
}
#navbar{
  font-size:20px;
  background-color:white;
}
.slide
{
    background-image:url('http://wellwill.neocities.org/html.jpg');
    background-color:#fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.aboutme{
  margin-top:50px;
}
.myImage{
 
  border-radius:50%;
  border:1px solid gray;
}
.jContact{
  border:1px solid black;
  margin-top:20px;
}